
#####1####
<div *ngFor=" let user of users$ | async">{{user.id}}</div>

#####2####
<div *ngFor=" let name of usersnames$ | async">{{name}}</div>

#####3####
<div *ngFor=" let user of filteredUsers$ | async">{{user.name}} | {{user.isActive}}</div>

####3.5####
<div *ngFor=" let user of youngUsers$ | async">{{user.name}} | {{user.age}}</div>

####4####
<div *ngIf="data$ | async as data">
    <div *ngFor="let user of data.users">
        {{user.id}}
    </div>
    #--usernames--#
    <div *ngFor="let name of data.usernames">
        {{name}}
    </div>
    #----#
    <div *ngFor="let userActive of data.filteredUsers">
        {{userActive.name}} | {{userActive.age}}
    </div>
</div>